header_img {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

#header {
    background-color: #A7A7A7;
    margin-top: 5px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 1px;
    float: none;
    height: 1000px;
    width: 800px;
    position: absolute;
    left: 37px;
    top: 298px;
}
.menu_bar {
    background-color: #579274;
    margin: 200px;
    height: 20px;
    width: 800px;
    float: none;
    position: absolute;
    left: 35px;
    top: 83px;
}
.img {
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 1px;
    margin-left: 200px;
}
squareone {
}
