@charset "utf-8";
body {
    background-color: #A7A7A7;
    text-align: left;
    float: none;
    background-image: url(./pexels-dids-3753025.jpg);
}
page_size {
    margin-top: 41px;
    margin-right: 41px;
    margin-bottom: 41px;
    margin-left: 41px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}
.img2 {
    position: absolute;
    left: 78px;
    top: 127px;
}
img3 {
    float: none;

}
